
/* 声明字体 */
@font-face {
/* 引用字体文件（注意路径）format告诉浏览器这些字体文件以什么格式解析 */
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');/* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('../iconfont/iconfont.woff') format('woff'),/* chrome, firefox */
  url('../iconfont/iconfont.ttf') format('truetype'),/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg#iconfont') format('svg');/* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /* -webkit-text-stroke-width: 0.2px; */
  -moz-osx-font-smoothing: grayscale;
}
.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e625";
}

.icon-weixin:before {
  content: "\e660";
}


.icon-location:before {
  content: "\e60c";
}

.icon-talk:before {
  content: "\e60d";
}

.icon-setting:before {
  content: "\e60e";
}

.icon-search:before {
  content: "\e60f";
}

.icon-goback:before {
  content: "\e610";
}

.icon-false:before {
  content: "\e611";
}

.icon-true:before {
  content: "\e612";
}

.icon-date:before {
  content: "\e613";
}

.icon-person:before {
  content: "\e614";
}

.icon-money:before {
  content: "\e615";
}

.icon-edit:before {
  content: "\e616";
}

.icon-problem:before {
  content: "\e617";
}

.icon-share:before {
  content: "\e618";
}

.icon-message:before {
  content: "\e619";
}

.icon-like:before {
  content: "\e61a";
}

.icon-order:before {
  content: "\e61b";
}

.icon-clock:before {
  content: "\e61c";
}

.icon-right:before {
  content: "\e61d";
}

.icon-left:before {
  content: "\e622";
}

.icon-up:before {
  content: "\e623";
}

.icon-down:before {
  content: "\e624";
}

.icon-home:before {
  content: "\e61e";
}

.icon-tourist:before {
  content: "\e61f";
}

.icon-trip:before {
  content: "\e620";
}

.icon-profile:before {
  content: "\e621";
}

